{{!-- Twibbon Selection --}}
<fieldset class="bx--fieldset form-input justify-content-center col-12 col-lg-4">
    <legend class="bx--label subhead-text">Pilih Twibbon</legend>

    {{#each twibbon}}
    <div class="bx--form-item">
        <input class="bx--radio-button" type="radio" onchange="$('.pilih-foto').show();" id="{{this.image}}"
            name="twibbonType" value="{{this.image}}" tabindex="0">
        <label for="{{this.image}}" class="bx--radio-button__label">
            <span class="bx--radio-button__appearance"></span>
            {{this.name}}
        </label>
    </div>
    {{/each}}

</fieldset>