<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <title>UM PKKMB Twibbon Placer</title>

    {{!-- Carbon Design System --}}
    <link href="https://unpkg.com/carbon-components/css/carbon-components.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/assets/style.css" rel="stylesheet">

</head>

<body>

    {{!-- Page Title --}}
    <div class="container">
        <h1 class="text-center head-text">PKKMB UM 2020 Twibbon Generator</h1>
        <h6 class="text-center subhead-text">Gunakan foto berskala 1:1 (kotak).</h6>
        <hr />
    </div>

    {{{body}}}

    {{!-- Upload Handler --}}
    <div>

        {{!-- File Browser --}}
        <div class="pilih-foto bx--form-item wrapper">
            <h3 class="bx--file--label">Unggah Foto</h3>
            <div class="bx--file box-file" data-file data-file-demo-state-manager>
                <label for="inputGambar" class="bx--file-btn bx--btn bx--btn--primary" role="button" tabindex="0">
                    <div data-file-drop-container class="bx--file__drop-container">
                        Seret gambar atau ketuk untuk memilih foto
                        <input type="file" class="bx--file-input" id="inputGambar" accept="image/*"
                            onchange="generate();" />
                    </div>
                </label>
                <div data-file-container class="bx--file-container"></div>
            </div>
        </div>

        {{!-- Image Download Button --}}
        <div class="col-12 d-flex justify-content-center">
            <button class="bx--btn bx--btn--primary download-btn " type="button" onclick="downloadImage();">Unduh
                Gambar</button>
            <button class="bx--btn bx--btn--danger download-btn" aria-label="danger" type="button"
                onclick="location.reload();">
                Reset
            </button>

        </div>
        <div class="col-12 d-flex justify-content-center">
            <canvas id="generated" width="1080" height="1080"></canvas>
        </div>

        {{!-- Adjustment Tool --}}
        {{!-- Adjust X --}}

        <div class="col-12 col-lg-4 text-center slider spacer">
            <label for="posX">Posisi X</label>
            <input type="range" class="custom-range" step="5" min="0" max="50" id="posX" value="0"
                onchange="generate();" />
        </div>
        {{!-- Adjust Y --}}
        <div class="col-12 col-lg-4 text-center slider spacer">
            <label for="posY">Posisi Y</label>
            <input type="range" class="custom-range" step="5" min="0" max="50" id="posY" value="0"
                onchange="generate();" />
        </div>
        {{!-- Adjust Size --}}
        <div class="col-12 col-lg-4 text-center slider spacer">
            <label for="ukuran">Ukuran</label>
            <input type="range" class="custom-range" step="0.1" min="0.1" max="3.0" id="ukuran" value="1.0"
                onchange="generate();" />
        </div>
    </div>


    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/generator.js"></script>
</body>

</html>